* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100%;
}

html {
    scroll-behavior: smooth;
    transition: scroll-behavior 0.5s ease;
}

.inicio {
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.main__principal {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
}

.main__principal .main__titulo {
    font-size: 3.125rem;
    font-weight: bold;
}

.main__principal .main__subtitulo {
    font-size: 1.25rem;
}

.main__principal .main__parrafo {
    font-size: 1.5rem;
    width: 800px;
    text-align: justify;
}

.main__principal .main__image {
    width: 100%;
}

.main__principal .main__imagen img {
    width: 450px;
}

.btn {
    margin-top: 30px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    background-color: #6E07F3;
    border-radius: 10px;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sobremi {
    background-color: #6E07F3;
    border-radius: 10px;
    height: 100vh;
    color: white;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.sobremi__principal {
    width: 400px;
}

.sobremi__titulo h1 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 800;
}

.sobremi.parrafo p {
    font-size: 1.25rem;
}

.proyectos {
    display: flex;
    align-items: center;
}

.proyectos__titulo {
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    padding: 0 20px;
    margin-bottom: 50px;
}

.card {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    height: 200px;
    width: 300px;
    color: black;
    border-radius: 10px;
}

.card__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card__item h1 {
    display: none;
    z-index: 2;
}

.card__item p {
    display: none;
    text-align: start;
    width: 280px;
    z-index: 2;
}

.card__item img {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 1;
    border-radius: 10px;
    cursor: pointer;
}

.a-github {
    text-decoration: none;
    color: aqua;
    font-weight: bold;
}

@media screen and (max-width: 1100px) {
    .sobremi {
        height: auto;
        width: auto;
    }
    .proyectos {
        display: flex;
        width: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
    }
    .sobremi__principal {
        width: auto;
    }
    .card__item {
        width: auto;
    }
}

@media screen and (max-width: 500px) {
    .card {
        width: 50%;
    }
    .card__item img {
        width: 50%;
    }
    .sobremi__titulo h1 {
        font-size: 1.5rem;
    }
    .sobremi__principal p {
        font-size: 0.8rem;
    }
    .proyectos__titulo {
        font-size: 1.5rem;
    }
}
